# PyCharm templates
*.iml
.idea/

# python template
*__pycache__/
venv/
*-bak.py
supervisord.conf
supervisord.conf.d/


# project ignore
script.py
local_security.py
*/static/uploads

# db
migrations/

# log
logs/